<form action="/restaurants/{{ restaurants._id }}/edit" method="POST">
  <input type="text" placeholder="餐廳店名" name="name" value="{{ restaurants.name }}">
  <input type="text" placeholder="餐廳地點" name="location" value="{{ restaurants.location }}">
  <input type="text" placeholder="餐廳電話" name="phone" value="{{ restaurants.phone }}">
  <input type="text" placeholder="餐廳類別" name="category" value="{{restaurants.category}}">
  <input type="text" placeholder="評分(1~5分)" name="rating" value="{{restaurants.rating}}">
  <input type="text" placeholder="簡單評論" name="description" value="{{restaurants.description}}">
  <button type="submit">Save</button>
  <a href="/">back</a>
</form>